name: Lint

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Use Node 
        uses: actions/setup-node@v2

      - name: Install dependencies
        run: yarn install

      - name: Run Linters
        run: yarn lint